<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Site web d'enchères Stampee">
  <meta name="Author" content="Alexandru Candu 2295298  Gr:21647">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titre }}</title>
  <link rel="stylesheet" href="main.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600;700&family=Monserrat:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  {# <link rel="stylesheet" type="text/css" href="css/frontend.css?v=1.2"> #}
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/admin.css?v=1.1">
</head>
<body>
  <main>

    {{ include(templateMain) }}

  </main>
</body>
</html>